fastapi
uvicorn
sqlalchemy
psycopg2-binary
alembic
pydantic
python-dotenv

# Testes e qualidade
pytest
pytest-cov
httpx
flake8
coverage

prometheus-fastapi-instrumentator
structlog
python-json-logger
